
/* for block of numbers */
.hljs-ln .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
    white-space: nowrap;
    /* your custom style here */
}

/* for block of code */
.hljs-ln .hljs-ln-code {
    padding-left: 10px;
}

.hljs  .hljs-ln-numbers {
    padding-right: 10px;
}