.gdoc_style1 {
  width:95%;
  border:1px solid #ccc;
  padding:10px;
  background:#FFF;
  margin:10px auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.gdoc_style2 {
  background-color: white;
  padding: 20px;
  border:1px solid #ccc;
  width: 90%;
  -webkit-box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow:
    1px 1px   0 rgba(0,   0,   0,   0.100),
    3px 3px   0 rgba(255, 255, 255, 1.0),
    4px 4px   0 rgba(0,   0,   0,   0.125),
    6px 6px   0 rgba(255, 255, 255, 1.0),
    7px 7px   0 rgba(0,   0,   0,   0.150),
    9px 9px   0 rgba(255, 255, 255, 1.0),
    10px 10px 0 rgba(0,   0,   0,   0.175);
}

.gdoc_style3 {
  width:90%;
  background-color: white;
  padding: 20px;
  border:1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color:#FFFFFF;
  -webkit-box-shadow: #B3B3B3 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 5px 5px 5px;
  box-shadow: #B3B3B3 5px 5px 5px;
}


.docembdr * {
  font-family: Circular XX !important;
  color: #333;
  font-size: 16px!important;
  line-height: 1.5!important;
}

.docembdr div:first-child {
  padding: 0px;
  max-width: 100%;
}

.docembdr img {
  vertical-align: unset;
  max-width: 100%;
  height: auto !important;
  display: block;
}

.docembdr h1 span {
  font-size: 24px!important;
  color: #101820!important;
  font-weight: bold;
  font-family: Circular XX !important;
}

.docembdr h2 span {
  font-size: 21px!important;
  color: #101820!important;
  font-weight: bold;
  font-family: Circular XX !important;
}

.docembdr h3 span {
   font-size: 22px!important;
   color: #101820!important;
   font-weight: bold;
   font-family: Circular XX !important;
 }

.docembdr h4 span {
  font-size: 18px!important;
  color: #101820!important;
  font-weight: bold;
  font-family: Circular XX !important;
}

.docembdr h5 span {
  font-size: 16px!important;
  color: #101820!important;
  font-weight: bold;
  font-family: Circular XX !important;
}

.docembdr p span {
	max-width: 100%;
	height: auto!important;
}

.docembdr #contents ul + p,
.docembdr #contents ol + p,
.docembdr #contents p + ul,
.docembdr #contents p + ol,
.docembdr #contents p + p {
	margin-top: 15px;
}

.docembdr #contents p:has(> span:empty) {
	margin-top: 0;
}

.docembdr ul li[class*="li-bullet"]:before {
	font-size: 10px;
	min-width: 16pt;
}

.docembdr ol li[class*="li-bullet"]:before {
	font-weight: bold;
}

.docembdr #contents ol li + li {
	padding-top: 10pt;
}

.docembdr li * + img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.docembdr :target::before {
  content: '';
  display: block;
  height: 51px;
}
